<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569279697970-hrf566m2remqggbf4qapgu0oqq340voi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569279697970-hrf566m2remqggbf4qapgu0oqq340voi</string>
	<key>API_KEY</key>
	<string>AIzaSyAqDr9gjwjc1htE44PYxtJd2dM7BYvZgtc</string>
	<key>GCM_SENDER_ID</key>
	<string>569279697970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>test-6a069</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6a069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569279697970:ios:8183cbf7a7664d99d0582b</string>
</dict>
</plist>